// Background colours
$backgroundColour: #ffffff;
$codeBackgroundColour: #fafafa;
$featureBackgroundColour: #FFD32D, .537;
$accentColour: #008E89;

// Text colours
$headingColour: #085E7D;
$bodyColour: #384743;
$linkColour: #084594;
$hoverColour: #FFD32D;
$focusColour: #085E7D;
$captionColour: #085E7D; //Copyright and language choice
$white: #ffffff;

// Typography
$bodytype: (
  font-family: 'Georgia, serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
);

$headingtype: (
  font-family: '"Merriweather", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
);

$monospacetype: (
  font-family: 'Menlo, monospace',
  regular: 400,
  cap-height: 0.68
);

// Font import, if you're using a non-standard web font
@import url('https://fonts.stuts.de/merriweather/merriweather.css');
