// Colour palette: 
// yellow - #FFD32D
// light teal - #008E89
// dark teal - #085E7D
// blue - #084594
// dark gray - #384743

// Background colours
$backgroundColour: #ffffff;
$codeBackgroundColour: #fafafa;
$featureBackgroundColour: #008E89, .537;
$accentColour: #008E89, .537;

// Text colours
$headingColour: #008E89;
$bodyColour: #384743; 
$linkColour: #084594;
$hoverColour: #FFD32D;
$focusColour: #008E89;
$captionColour: #008E89; //Copyright and language choice
$white: #ffffff;

// Typography
$bodytype: (
  font-family: 'Georgia, serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
);

$headingtype: (
  font-family: '"Merriweather", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
);

$monospacetype: (
  font-family: 'Menlo, monospace',
  regular: 400,
  cap-height: 0.68
);

// Font import, if you're using a non-standard web font
@import url('https://fonts.stuts.de/merriweather/merriweather.css');
