@charset "utf-8";

// Import frameworks & theme styles
@import
  "normalize",
  "settings",
  "sassline-base",
  "syntax",
  "flex",
  "theme"
;

header {
    top: 0;
    position: sticky;
    background-color: rgba(#008E89, .537);
    color: black; // Textfarbe für alles im Header, was kein Link ist (sprich für nix ;-))
}

header a {
    color: rgba(#085E7D, 1) // Textfarbe für Links im Header (sprich für alles im Header^^) - helles türkis
}

header a:hover {
    color: rgba(#FFD32D, 1) // Hier kommt die Textfarbe für die Links hin, über die man grade mit der Maus fährt - gelb
}

header .item--current a {
    color: rgba(#437991, .537);
}

h1 { font-size: 2.6rem !important; }
h2 { font-size: 1.8rem !important; }
h3 { font-size: 1.3rem !important; }
p { font-size: 1rem !important; }
